MyWebService/WebContent/wsdl/substraction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SubstractionService" targetNamespace="http://www.webservice.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.webservice.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://www.webservice.com" version="1.0" xmlns:tns="http://www.webservice.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="substract" type="tns:substract"/>

  <xs:element name="substractResponse" type="tns:substractResponse"/>

  <xs:complexType name="substract">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="substractResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="substractResponse">
    <wsdl:part name="parameters" element="tns:substractResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="substract">
    <wsdl:part name="parameters" element="tns:substract">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="com.webservice.ISubstraction">
    <wsdl:operation name="substract">
      <wsdl:input name="substract" message="tns:substract">
    </wsdl:input>
      <wsdl:output name="substractResponse" message="tns:substractResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubstractionServiceSoapBinding" type="tns:com.webservice.ISubstraction">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="substract">
      <soap:operation soapAction="urn:Substract" style="document"/>
      <wsdl:input name="substract">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="substractResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubstractionService">
    <wsdl:port name="SubstractionPort" binding="tns:SubstractionServiceSoapBinding">
      <soap:address location="http://localhost:8080/MyWeb/services/SubstractionPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
