MyWebServiceConsuming/WebContent/wsdl/SubstractionPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.webservice.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SubstractionService" targetNamespace="http://www.webservice.com">
  <wsdl:types>
<xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.webservice.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" elementFormDefault="unqualified" targetNamespace="http://www.webservice.com" version="1.0">

  
  <xs:element name="substract" type="tns:substract"/>

  
  <xs:element name="substractResponse" type="tns:substractResponse"/>

  
  <xs:complexType name="substract">
    
    <xs:sequence>
      
      <xs:element name="arg0" type="xs:int"/>
      
      <xs:element name="arg1" type="xs:int"/>
    
    </xs:sequence>
  
  </xs:complexType>

  
  <xs:complexType name="substractResponse">
    
    <xs:sequence>
      
      <xs:element name="return" type="xs:int"/>
    
    </xs:sequence>
  
  </xs:complexType>


</xs:schema>
  </wsdl:types>
  <wsdl:message name="substractResponse">
    <wsdl:part element="tns:substractResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="substract">
    <wsdl:part element="tns:substract" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="com.webservice.ISubstraction">
    <wsdl:operation name="substract">
      <wsdl:input message="tns:substract" name="substract">
    </wsdl:input>
      <wsdl:output message="tns:substractResponse" name="substractResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubstractionServiceSoapBinding" type="tns:com.webservice.ISubstraction">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="substract">
      <soap:operation soapAction="urn:Substract" style="document"/>
      <wsdl:input name="substract">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="substractResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubstractionService">
    <wsdl:port binding="tns:SubstractionServiceSoapBinding" name="SubstractionPort">
      <soap:address location="http://localhost:8080/MyWeb/services/SubstractionPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>